@model object

@{
    ViewBag.Title = "title";
}

<h2>title</h2>
<a href="https://buymyhouse.auth.us-east-2.amazoncognito.com/login?response_type=code&client_id=6siajue5lr9r2ub409akqh48v9&redirect_uri=https://localhost:5001/signin-oidc">Click me</a>